* {
    padding: 0;
    margin: 0;

}

body {
    min-height: 100vh;
}

.skor {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    min-width: 40px;
    height: 50px;

}

.game {

    width: 500px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    left: calc(50% - (500px / 2));
    overflow: hidden;

}

#carakter {
    height: 50px;
    width: 20px;
    background-color: red;
    position: absolute;
    top: calc(200px - 50px);
    left: 50px;


}

.jum {
    animation: jum 600ms;
}

@keyframes jum {
    0% {
        top: 150px;
    }

    30% {
        top: 100px;
    }

    40% {
        top: 100px;
    }

    100% {
        top: 150px;
    }
}

#block {
    height: 20px;
    width: 20px;
    background-color: blue;
    position: absolute;
    top: calc(200px - 20px);
    left: 500px;
    animation: block 2s linear infinite;
}

@keyframes block {
    0% {
        left: 510px;

    }

    100% {
        left: -30px;
    }
}